<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Faculty Form</title>
</head>
<body>
<header>
    <nav>
        <a href="/">Home</a> |
        <a href="/course/list">View All Courses</a>
        <a href="/course/add">Add New Course</a>
        <a href="/faculty/list">View All Faculties</a>
        <a href="/faculty/add">Add New Faculty</a>
        <a href="/academicBlock/list">View All AcademicBlocks</a>
        <a href="/academicBlock/add">Add New AcademicBlock</a>
        <a href="/student/list">View All Students</a>
        <a href="/student/add">Add New Student</a>
        <a href="/courseOffering/list">View All CourseOfferings</a>
    </nav>
</header>
<div>


    <form id="newFacultyForm" method="post" action="/faculty/add" th:object="${faculty}">
        <fieldset>
            <input type="hidden" name="id" th:value="${faculty.id}"/>

            <div>
                <label>Faculty Name</label>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                      class="alert alert-danger"></span>
                <input  id="name" name="name" type="text" class="form-control"
                        th:value="${faculty.name}" autofocus required>
            </div>
            <div>
                <label>Faculty Email</label>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                      class="alert alert-danger"></span>
                <input  id="email" name="email" type="text" class="form-control"
                        th:value="${faculty.email}" autofocus required>
            </div>
            <div>
                <label>Faculty Title</label>
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                      class="alert alert-danger"></span>
                <input  id="title" name="title" type="text" class="form-control"
                        th:value="${faculty.title}" autofocus required>
            </div>
            <div>
                <a href="/faculty/list" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                <button id="btnSubmit" type="submit" class="btn btn-outline-success">Save Faculty</button>
            </div>
        </fieldset>
    </form>
</div>


</body>
</html>
