<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Registration System</title>
</head>
<body>
<header>
    <nav>
        <a href="/">Home</a> |
        <a href="/course/list">View All Courses</a>
        <a href="/course/add">Add New Course</a>
        <a href="/faculty/list">View All Faculties</a>
        <a href="/faculty/add">Add New Faculty</a>
        <a href="/academicBlock/list">View All AcademicBlocks</a>
        <a href="/academicBlock/add">Add New AcademicBlock</a>
        <a href="/student/list">View All Students</a>
        <a href="/student/add">Add New Student</a>
        <a href="/courseOffering/list">View All CourseOfferings</a>
<!--        <a href="/eregistrar/student/list/highgpa">View High Gpa Students</a>-->
    </nav>
</header>
<h1>Welcome to Course Registration System</h1>
</body>
</html>